body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}
header {
    background-color: #0a0a23;;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
header.about-header {
      background: #ffffff;
      color: #000000;
      padding:0px;
      text-align: center;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
}
.us{
    color: #000000;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
}
.about-container {
       padding: 0px;
      max-width: 900px;
      margin: auto;
        background: #ffffff;
}
.home{
    color: #07032c;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
}
h1 {
    color: #ffffff;
      text-align: center;
      margin-bottom: 20px;
}
.mission, .story, .values {
      margin-bottom: 40px;
 }
.values ul {
      list-style: none;
      padding: 0;
    }
.values li {
      background: #f4f4f4;
      margin: 10px 0, 0,0 ;
      padding: 15px;
      border-left: 5px solid #0a0a23;
}
header img {
    width: 100px;
    position: left;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #4682b4;
    padding: 10px 0;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 15px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.product img {
    max-width: 100%;
    height: auto;
}
.product h3 {
    margin: 10px 0;
    color: #333;
}
.product p {
    color: #d2691e;
    font-weight: bold;
}
.product button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.product button:hover {
    background-color: #06e436;
}
footer {
    color: #fff;
    text-align: center;
    padding: 1px;
    position: relative;
    width: 100%;
    background: #0a0a23;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}